<footer class="conatainer-fluid bg-success">
    <div class="row">
        <section class="col">
            Pied 1
        </section>
        <section class="col">
            Pied 2
        </section>
        <section class="col">
            Pied 3
        </section>
    </div>

</footer>