<footer class="conatainer-fluid bg-success">
    <div class="row">
        <section class="col">
            copyright
        </section>
        <section class="col">
             copyright
        </section>
        <section class="col">
             copyright
        </section>
    </div>

</footer>